@media (max-width: 1199.98px) {
  .calculator__sum_credit, .calculator__month_value {
    margin-bottom: 44px;
  }
}
@media (max-width: 767.98px) {
  .calculator__title {
    font-size: 34px;
  }
  .calculator__result-text {
    font-size: 14px;
    line-height: 136%;
  }
  .calculator__result-value {
    font-size: 22px;
    line-height: 20px;
  }
  .calculator__sum_credit, .calculator__month_value {
    margin-bottom: 30px;
  }
  .calculator__send_btn {
    font-size: 22px;
    line-height: 60px;
  }
  .inputs__wrapper {
    height: 60px;
    margin-bottom: 16px;
    padding-top: 10px;
    padding-bottom: 10px;

    &.isFirstContribution {
      padding: 5px;
    }
  }
  .input-helper {
    top: 18px;
    font-size: 22px;
    line-height: 20px;
  }
  .contribution-value {
    top: 10px;
  }
  .input-number, .contribution-value {
    font-size: 22px;
  }
  .inputs__wrapper.isFirstContribution .input-number {
    height: 48px;
    width: 67px;
  }
}
